body {
    background-color:black;
    color:white;
}

#main {
    max-width: 1080px;
    margin: auto;   
}

#animelist {
    list-style:none;
    padding: 0px;
    margin-top: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

ul li {
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
    height: 400px;
    max-height: 386px;
}

.item {
    text-align: center;
    max-width: 250px;
}

.item img {
    height: 350px;
    width: 250px;
}

#search{
    padding: 10px;
    background:none;
    border-radius: 50px;
    border: 0.5px solid white;
    width:40%;
    color:white;

}

#search:focus{
    outline: none;
}

#searchMethod:focus{
    outline: none;
}

#rec{
    margin-left: -30px;
    cursor: pointer;
    
}

#searchMethod{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.searchField{
    margin-top: 20px;
    text-align: center;
}